// Міксіни
@use "_mixins.scss" as *;
// Типографія
@use "_typo.scss" as *;

.title {
	@include typo("h1");
	&--center {
		text-align: center;
	}
}

.title-catalog {
	@include typo('h2-24');
	&::after {
		content: "";
		width: toEm(52, 24);
		height: toEm(6, 24);
		background-color: var(--black-1);
		display: block;
		margin-top: toEm(12, 24);
	}
}

.sale-element {
	background-color: var(--red);
	@include typo("");
	color: var(--black-8);
	font-weight: 700;
	text-transform: uppercase;
	padding: toRem(10) toRem(20);
	transition: background-color 0.3s;
	&--mini {
		padding: toRem(4) toRem(12);
		font-weight: 500;
	}
}

button.sale-element,
a.sale-element {
	html:not([data-fls-touch]) & {
		&:hover {
			background-color: #7c1111;
		}
	}
}


.items {
	display: grid;
	gap: toRem(36);
	grid-template-columns: repeat(auto-fill, minmax(min(toRem(380), 100%), 1fr));
}
// Картка каталогу
.item {
	display: flex;
	flex-direction: column;
	gap: toRem(32);
	// .item__link
	&__link {
		aspect-ratio: 440 / 574;
		background-color: var(--black-7);
		display: flex;
		align-items: center;
		justify-content: center;
		&--top {
			align-items: flex-start;
		}
		&--bottom {
			align-items: flex-end;
		}
		&--bottom-left {
			align-items: flex-end;
			justify-content: flex-start;
		}
		&--bottom-right {
			align-items: flex-end;
			justify-content: flex-end;
		}
		&--top-left {
			align-items: flex-start;
			justify-content: flex-start;
		}
		&--top-right {
			align-items: flex-start;
			justify-content: flex-end;
		}
		&--left {
			justify-content: flex-start;
		}
		&--right {
			justify-content: flex-end;
		}
	}
	&__image {
		flex-grow: 0;
	}
	// .item__body
	&__body {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: toRem(12);
	}
	// .item__title
	&__title {
		text-transform: uppercase;
	}
	// .item__link-title
	&__link-title {
		html:not([data-fls-touch]) & {
			&:hover {
				text-decoration: underline;
			}
		}
	}
	// .item__rating
	&__rating {
	}
	// .item__price
	&__price {
		@include typo("h2-20");
	}
}
// Рейтинг
.rating {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: toRem(8);
	// .rating__item
	&__item {
		font-size: 11px;
	}
}

.link-bold {
	span {
		@include typo('', 700);
        position: relative;
        text-transform: uppercase;
        &::after {
            content: '';
            width: 0%;
            transition: 
                width 0.3s,
                left 0.3s;
            height: toRem(2);
            background-color: var(--black-1);
            position: absolute;
            top: 100%;
            left: 50%;
    	}
	}
    html:not([data-fls-touch]) & {
		&:hover {
			span::after {
				left: 0;
				width: 100%;
			}
		}
	}

}

.button {
	background-color: var(--black-1);
	transition: background-color 0.3s;
	padding: toRem(12);
	min-width: toRem(225);
	text-align: center;
	text-transform: uppercase;
	@include typo('');
	color: var(--black-8);
	html:not([data-fls-touch]) & {
		&:hover {
			background-color: var(--green)
		}
	}

}

// More link
.more {
	@include typo("");
    color: var(--black-3);
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	gap: toRem(10);
	transition: color 0.3s;
	&::before {
		translate: 0 toRem(1);
		font-size: toRem(9);
		color: var(--black-1)
	}
	html:not([data-fls-touch]) & {
		&:hover {
			color: var(--black-1);
		}
	}
}


.social {
	display: flex;
	flex-wrap:  wrap;
	gap: toRem(34);

	// .social__item

	&__item {
	}

	// .social__link

	&__link {
		transition: color 0.3s;

		&--icon-facebook {
		}

	// .social__link--icon-twitter

		&--icon-twitter {
		}

	// .social__link--icon-instagram

		&--icon-instagram {
		}

	// .social__link--icon-pinterest

		&--icon-pinterest {
		}

	}

	// .social__link--icon-facebook

	
	html:not([data-flx-touch]) & {
		&:hover {
			color: var(--black-3)
		}
	}
}


.breadcrumbs {

		padding-top: toRem(16); 
		// &--margin {
		// 	@include adaptiveValue("margin-bottom", 36, 16);
		// }
		// .breadcrumbs__list

		&__list {
			display: flex;
		}

		// .breadcrumbs__item

		&__item {
			color: var(--black-3);
			@include typo("");
			display: flex;
			&:not(:last-child) {
				&::after {
					content: '/';
				}
			}
		}

		// .breadcrumbs__link

		&__link {
			html:not([data-fls-touch]) & {
				&:hover {
					text-decoration: underline;
				}
			}
		}

		// .breadcrumbs__current

		&__current {
			color: var(--black-1);
			font-weight: 700;
		}
}

