// Міксіни
@use "_mixins.scss" as *;
// Типографія
@use "_typo.scss" as *;

.title {
	@include typo("h1");
	&--center {
		text-align: center;
	}
}

.title-catalog {
	@include typo('h2-24');
	&::after {
		content: "";
		width: toEm(52, 24);
		height: toEm(6, 24);
		background-color: var(--black-1);
		display: block;
		margin-top: toEm(12, 24);
	}
}

.sale-element {
	background-color: var(--red);
	@include typo("");
	color: var(--black-8);
	font-weight: 700;
	text-transform: uppercase;
	padding: toRem(10) toRem(20);
	transition: background-color 0.3s;
	&--mini {
		padding: toRem(4) toRem(12);
		font-weight: 500;
	}
}

button.sale-element,
a.sale-element {
	html:not([data-fls-touch]) & {
		&:hover {
			background-color: #7c1111;
		}
	}
}


.items {
	display: grid;
	gap: toRem(36);
	grid-template-columns: repeat(auto-fill, minmax(min(toRem(380), 100%), 1fr));
}
// Картка каталогу
.item {
	display: flex;
	flex-direction: column;
	gap: toRem(32);
	// .item__link
	&__link {
		aspect-ratio: 440 / 574;
		background-color: var(--black-7);
		display: flex;
		align-items: center;
		justify-content: center;
		&--top {
			align-items: flex-start;
		}
		&--bottom {
			align-items: flex-end;
		}
		&--bottom-left {
			align-items: flex-end;
			justify-content: flex-start;
		}
		&--bottom-right {
			align-items: flex-end;
			justify-content: flex-end;
		}
		&--top-left {
			align-items: flex-start;
			justify-content: flex-start;
		}
		&--top-right {
			align-items: flex-start;
			justify-content: flex-end;
		}
		&--left {
			justify-content: flex-start;
		}
		&--right {
			justify-content: flex-end;
		}
	}
	&__image {
		flex-grow: 0;
	}
	// .item__body
	&__body {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: toRem(12);
	}
	// .item__title
	&__title {
		text-transform: uppercase;
	}
	// .item__link-title
	&__link-title {
		html:not([data-fls-touch]) & {
			&:hover {
				text-decoration: underline;
			}
		}
	}
	// .item__rating
	&__rating {
	}
	// .item__price
	&__price {
		@include typo("h2-20");
	}
}
// Рейтинг
.rating {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: toRem(8);
	// .rating__item
	&__item {
		font-size: 11px;
	}
}

.link-bold {
	span {
		@include typo('', 700);
        position: relative;
        text-transform: uppercase;
        &::after {
            content: '';
            width: 0%;
            transition: 
                width 0.3s,
                left 0.3s;
            height: toRem(2);
            background-color: var(--black-1);
            position: absolute;
            top: 100%;
            left: 50%;
    	}
	}
    html:not([data-fls-touch]) & {
		&:hover {
			span::after {
				left: 0;
				width: 100%;
			}
		}
	}

}

.button {
	background-color: var(--black-1);
	transition: background-color 0.3s;
	padding: toRem(12);
	min-width: toRem(225);
	text-align: center;
	text-transform: uppercase;
	@include typo('');
	color: var(--black-8);
	html:not([data-fls-touch]) & {
		&:hover {
			background-color: var(--green)
		}
	}

}

// More link
.more {
	@include typo("");
    color: var(--black-3);
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	gap: toRem(10);
	transition: color 0.3s;
	&::before {
		translate: 0 toRem(1);
		font-size: toRem(9);
		color: var(--black-1)
	}
	html:not([data-fls-touch]) & {
		&:hover {
			color: var(--black-1);
		}
	}
}


.social {
	display: flex;
	flex-wrap:  wrap;
	gap: toRem(34);

	// .social__item

	&__item {
	}

	// .social__link

	&__link {
		transition: color 0.3s;

		&--icon-facebook {
		}

	// .social__link--icon-twitter

		&--icon-twitter {
		}

	// .social__link--icon-instagram

		&--icon-instagram {
		}

	// .social__link--icon-pinterest

		&--icon-pinterest {
		}

	}

	// .social__link--icon-facebook

	
	html:not([data-flx-touch]) & {
		&:hover {
			color: var(--black-3)
		}
	}
}


.breadcrumbs {

		padding-top: toRem(16); 
		// &--margin {
		// 	@include adaptiveValue("margin-bottom", 36, 16);
		// }
		// .breadcrumbs__list

		&__list {
			display: flex;
		}

		// .breadcrumbs__item

		&__item {
			color: var(--black-3);
			@include typo("");
			display: flex;
			&:not(:last-child) {
				&::after {
					content: '/';
				}
			}
		}

		// .breadcrumbs__link

		&__link {
			html:not([data-fls-touch]) & {
				&:hover {
					text-decoration: underline;
				}
			}
		}

		// .breadcrumbs__current

		&__current {
			color: var(--black-1);
			font-weight: 700;
		}
}

.sale {

		// .sale__container

		&__container {
                  background-color: #fff;
		}


            &__wrapper {
                  background-color: var(--black-7);
                  @include adaptiveValue("padding-inline", 80, 30, 0, 1422, 768);
                  @media (width < toEm(480)) {
                        padding-inline: toRem(15)
                  }


                  display: flex;
                  gap: toRem(20);

                  @media (width < toEm(768)) {
                        flex-direction: column;
                  }

                  @media (width < toEm(480)) {
                        margin-inline: toRem(-15);
                  }

            }
		// .sale__body

		&__body {
                  @media (width > toEm(768)) {
                        flex-basis: toRem(350);
                  }
                  display: flex;
                  flex-direction: column;
                  @include adaptiveValue("padding-top", 68, 20, 2, 1422, 768);
                  @include adaptiveValue("padding-bottom", 78, 20, 2, 1422, 768);

                  @media (width < toEm(768)) {
                        order: 2;  
                  }
		}

            &__main {
                  flex-grow: 1;
                  &:not(:last-child) {
                        @include adaptiveValue("margin-bottom ", 36, 20);
                  }
            }

		// .sale__title

		&__title {
                  @include typo('h1');
                  &:not(:last-child) {
                        margin-bottom: toRem(16);
                  }
		}

		// .sale__link-title

		&__link-title {
                  transition: color 0.3s;
                  html:not([data-fls-touch]) & {
                        &:hover {
                              color: var(--green);
                        }
                  }
		}

		// .sale__rating

		&__rating {
                  justify-content: flex-start;
                  
		}

		// .sale__price

		&__price {
		}

		// .sale__link-image

		&__link-image {
                  flex-grow: 1; 
                  text-align: center;
                  display: flex;
                  justify-content: center;

                  @media (width < toEm(768)) {
                        order: 1;  
                  }
		}

		// .sale__picture

		&__picture { 
                  @media (width > toEm(768)) {
                        margin-bottom: toRem(-95);
                        &--mini {
                              margin-bottom: toRem(-30);
                        }
                  }
                  &:has(.sale__image--center) {
                        margin-bottom: 0;
                        @include adaptiveValue("padding-top", 68, 20, 0, 1422, 768);
                        @include adaptiveValue("padding-bottom", 78, 20, 2, 1422, 768);
                  }
                  
		}

		// .sale__image

		&__image {
                  width: 100%;
                  height: 100%;
                  object-fit: contain;
                  &--center {
                        object-position: center;
                  }
		}

		// .sale__content

		&__content {
                  @include adaptiveValue("padding-top", 68, 20, 2, 1422, 768);
                  @include adaptiveValue("padding-bottom", 78, 20, 0, 1422, 768);
                  @media (width < toEm(768)) {
                        order: 3;  
                  }
                  @media (width > toEm(768)) {
                        flex-basis: toRem(350);
                        text-align: right;
                        align-items: flex-end;
                  }   
                  
                  display: flex;
                  flex-direction: column;
                  gap: toRem(25); 
		}

		// .sale__text

		&__text {
                  flex-grow: 1;
                  @include typo('');
                  color: var(--black-3);
                  p {
                        &:not(:last-child) {
                              margin-bottom: toRem(10);
                        }  
                  }
		}

		// .sale__button

		&__button {
		}
}

.price-sale {

		// .price-sale__old

		&__old {
                  color: var(--black-3);
                  font-weight: 700;
                  text-decoration: line-through;
                  &:not(:last-child) {
                        margin-bottom: toRem(9);
                  }
		}

		// .price-sale__price

		&__price {
                  display: flex;
                  align-items: center;
                  gap: toRem(16);
		}

		// .price-sale__value

		&__value {
                  @include typo('h1');
                  
		}

		// .price-sale__sale

		&__sale {
                  @include typo('');
                  background-color: var(--red);
                  padding: toRem(4) toRem(8);
                  font-weight: 700;
                  color: var(--black-8);
                  border-radius: toRem(4);
		}
}


.pagging {

		// .pagging__list

		&__list {
			display: flex;
			align-items: center;
			gap:  toRem(8)
		}

		// .pagging__item

		&__item {
		}

		// .pagging__link

		&__link {
			aspect-ratio: 1;
			width: toRem(40); 
			display: flex;
			justify-content: center;
			align-items: center;
			@include typo("");
			transition: all 0.3s; 
			background-color: var(--black-7);
			
		}

		// .pagging__link--current

		&__link--current {
			color: var(--black-8); 
			background-color: var(--black-1);
		}

		// .pagging__link--left-arrow

		&__link--left-arrow {
			rotate: 90deg;
		}

		// .pagging__link--icon-select-arrow

		&__link--icon-select-arrow {
		}

		// .pagging__link--right-arrow

		&__link--right-arrow {
			rotate: -90deg;
		}

		html:not([data-fls-touch]) & {
			&:hover {
				color: var(--black-8); 
				background-color: var(--black-1);
			}
		}
}
