@font-face {
    font-family: "Lato", sans-serif;
    src: url(../fonts/lato-medium.woff2);
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: "Lato", sans-serif;
    src: url(../fonts/lato-bold.woff2);
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Lato", sans-serif;
    src: url(../fonts/lato-bold-italic.woff2);
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Lato", sans-serif;
    src: url(../fonts/lato-heavy.woff2);
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}