@use "_mixins.scss" as *;

@use "_typo.scss" as *;

@use "_components.scss" as *;

.header {
    
    &__container {
        display: flex;
        align-items: center;
        min-height: toRem(164);
        padding-block: toRem(10);
        @include adaptiveValue("min-height", 164, 70);
        @include adaptiveValue("gap", 80, 20, 0, 1392, 768);
    }

    &__logo {
    
    }

    &__search {
        
    }

    &__menu {
        flex-grow: 1;
    }

    &__action {

    }

}


.search-header {
    flex-shrink: 0;
    flex-basis: max (18.965517%, toRem(180));
    position: relative;
    border-bottom: toRem(1) solid var(--black-5);
    &::before {
        position: absolute;
        left: toRem(2);
        top: 50%;
        translate: 0 -50%;
    }

    &__input {
        padding-left: toRem(32);
        height: toRem(43);
        &::placeholder {
            color: var(--black-3);
        }
        &:focus {
            &::placeholder {
                opacity: 0;
            }
        }
    }
}

.menu {
    &__icon {
    
    }

    &__body {
    
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        @include adaptiveValue("column-gap", 44, 10); 
        row-gap: toRem(5)
    }

    //menu__item
    &__item {
        position: relative;
        html:not([data-fls-touch]) & {
            &:hover {
                .menu__link {
                    span::after {
                        left: 0;
                        width: 100%;
                    }
                }
                .sub-menu {
                    pointer-events: all;
                    opacity: 1;
                    visibility: visible;
                    translate: 0 0;
                }
            }
        }
    }

    &__link {
        @extend .link-bold;
    }

    &__sub-link {
        rotate: 90deg;
        transition: rotate 0.3s;
        translate: 0 toRem(-3);
        font-size: toRem(10);
        html:not([data-fls-touch]) & {
            cursor: default;
        }
        [data-sub-menu-open] & {
            rotate: -90deg;
        }
    }
}

.icon-menu {
    display: none;
}

.sub-menu {
    position: absolute;
    left: 0;
    top: 100%;
    width: toRem(200);
    padding-top: toRem(10);
    opacity: 0;
    visibility: hidden;
    translate: 0 toRem(10);
    transition: all 0.3s;
    pointer-events: none;


    [data-sub-menu-open] & {
        pointer-events: all;
        opacity: 1;
        visibility: visible;
        translate: 0 0;
    }
    //sub-menu list
    &__list {
        padding: toRem(15);
        border-radius: toRem(5);
        background-color: var(--black-8);
        box-shadow: 0 0 toRem(4) var(--black-1);
    }

    &__item {
        &:not(:last-child) {
            margin-bottom: toRem(5);
        }
    }

    &__link {
        @include typo("");
        html:not([data-fls-touch]) & {
            &:hover {
                text-decoration: underline;
            }
        }  
    }
}

.action-header {
    display: flex;
    align-items: center;
    @include adaptiveValue("gap", 46, 10);
    &__link {
        @extend .link-bold;
        display: flex;
        align-items: center;
        gap: toRem(7);
        html:not([data-flx-touch]) & {
            &:hover {
                span::after {
                    left: 0;
                    width: 100%;
                }
            }
        }
    }
}



