@use "_mixins.scss" as *;
@use "_typo.scss" as *;



.hero {

    position: relative;
    aspect-ratio: 1920 / 612;
    padding-block: toEm(40);

		// .hero__container

		&__container {
            min-height: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            // flex-direction: column;
		}

		// .hero__body

		&__body {
                  position: relative;
                  z-index: 2;
                  flex-basis: 50%;
                  @include adaptiveValue("padding-left", 82, 0, 0, 1920, 767);

                  @media (width < toEm(768)) {
                        flex-basis: 100%;
                        display: flex;
                        flex-direction: column;
                        text-align: center;
                        align-items: center;
                  } 
		}

		// .hero__label

		&__label {
            @include typo("h2-20");
                  &:not(:last-child) {
                        @include adaptiveValue("margin-bottom", 20, 10)
                  }
		}

		// .hero__title

		&__title {
                  @include adaptiveValue("font-size", 96, 45);
                  line-height: 0.9;
                  font-weight: 800;
                  line-height: 1.04;
                  small {
                        font-weight: 700;
                        display: block;
                  }
                  &:not(:last-child) {
                        @include adaptiveValue("margin-bottom", 36, 15)
                  }
                  &::after {
                        content: "";
                        width: 40%;
                        background-color: var(--black-1);
                        display: block;
                        height: toRem(1);
                        @include adaptiveValue("margin-top", 16, 8, 1920, 768);
                        @media (width < toEm(768)) {
                              margin: toRem(8) auto 0 auto;
                        }
                  }

            }

		// .hero__text

		&__text {
                  @include typo("");
                  
                  max-width: toRem(400);
                  @media (width > toEm(768)) { 
                        color: var(--black-3);
                  }
		}

		// .hero__picture

		&__picture {
                  position: absolute;
                  width: 100%;
                  height: 100%;
                  top: 0;
                  left: 0;
                  background-color: var(--black-5);

		}

		// .hero__image

		&__image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 15%;
                  @media (width < toEm(768)) { 
                        object-position: 15%;
                        opacity: 0.2;
                        
                  }
		}
}
 



.category-banners {

      &__container {
            display: grid;
            grid-template-columns: 0.243fr 0.513fr  0.243fr ;
            gap: toRem(36);
            @include adaptiveValue("gap", 36, 15);
            @media (width < toEm(768)) {
                  overflow: auto;
                  grid-template-columns: toRem(250);
                  grid-auto-flow: column;
                  grid-auto-columns: toRem(25 0);

            }
      }
      // .category-banners__item

      &__item {
      }
}
.category-banner {
      
     
      &:nth-child(3n + 2) {
            background-color: #f7f7f7;
            // aspect-ratio: 678 / 584;  
            .category-banner__body {
                  align-items: center;
                  text-align: center;
                  > * {
                        max-width: toRem(310);
                  }
            }
            .category-banner__picture {
                  @include adaptiveValue ("padding", 32, 15)
            }   
            
      }
            &:nth-child(3n + 2),
            &:nth-child(3n) {
                  .category-banner__link {
                        flex-direction: column-reverse;
                  }
            }
      background-color: #f7f7f7;

      

      &--top {

      }

      &--nopadding {
            padding: 0;
      }

      &__link {
            min-height: 100%;
            display: flex;            
            justify-content: space-between;
            flex-direction: column;
            
      }

      // .category-banner__picture

      &__picture {
            text-align: center;
            @include adaptiveValue("padding", 32, 15);
      }

      // .category-banner__image

      &__image {
            
      }

      // .category-banner__body

      &__body {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            @include adaptiveValue ("padding", 32, 15);
      }

      // .category-banner__title

      &__title {
            @include typo("h2-20");
            &:not(:last-child) {
                  @include adaptiveValue ("margin-bottom", 24, 15);
            }
      }

      // .category-banner__text

      &__text {
            @include typo("");
            color: var(--black-3);
            &:not(:last-child) {
                  @include adaptiveValue ("margin-bottom", 38, 24);
            }
      }

      // .category-banner__more

      &__more {
      }
}


.clients {

		// .clients__container

		&__container {
		}

		// .clients__title

		&__title {
                  @include adaptiveValue("margin-bottom", 72, 20 )
		}

		// .clients__items

		&__items {
                  row-gap: toRem(20);
                  @include adaptiveValue("column-gap", 74, 20 );
                  display: grid;
                  grid-template-columns: repeat(auto-fill, minmax(toRem(170), 1fr ));

                  @media (width <= toEm(620)) {
                        margin-inline: toRem(-15);
                        padding-inline: toRem(15);
                        overflow: auto;
                        grid-template-columns: toRem(170);
                        grid-auto-flow: column;
                        grid-auto-columns: toRem(170); 
                        

                  }
		}

		// .clients__item

		&__item {
                  aspect-ratio: 1;
		}

		// .clients__image

		&__image {
		}
}



 
.products-featured {

		// .products-featured__container

		&__container {
		}

		// .products-featured__title

		&__title {
                  @include adaptiveValue("margin-bottom", 36, 20);
		}

		// .products-featured__filter

		&__filter {
                  @include adaptiveValue("margin-bottom", 72, 20);
		}

            &__items {
                  display: grid;
                  grid-template-columns: repeat(auto-fill, minmax(min(toRem(380), 100%), 1fr));  
                  @include adaptiveValue("row-gap",  72 , 20); 
                  @include adaptiveValue("column-gap",  36, 20); 

                  // .item {
                  // transition: scale 0.5s; 
                  //       &--hidden {
                  //             scale: 0;
                  //       }
                  // } 
            }
}
.filter-products-featured {
            display: flex;
            justify-content: center ;
            align-items: center;
            flex-wrap: wrap;
            row-gap: toRem(10);
		// .filter-products-featured__item
            @include adaptiveValue("column-gap",  48, 20); 
		&__item {
                 
		}

		// .filter-products-featured__link

		&__link {
                  &--active {
                        span::after {
                              left: 0;
                              width: 100%;
                        }
                  }
		}
}
.link-bold {
}
 