@use "_mixins.scss" as *;
@use "_typo.scss" as *;


.home {
		// .page__hero

	&__hero {
	}

	&__category-banners {
      }

	&__clients {
		
	}

	&__featured-products {
		}

	&__why {

	}

	&__sale {

	}

	&__reviews {
		
	}
}





.hero {

    position: relative;
    aspect-ratio: 1920 / 612;
    padding-block: toEm(40);

		// .hero__container

		&__container {
            min-height: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            // flex-direction: column;
		}

		// .hero__body

		&__body {
                  position: relative;
                  z-index: 2;
                  flex-basis: 50%;
                  @include adaptiveValue("padding-left", 82, 0, 0, 1920, 767);

                  @media (width < toEm(768)) {
                        flex-basis: 100%;
                        display: flex;
                        flex-direction: column;
                        text-align: center;
                        align-items: center;
                  } 
		}

		// .hero__label

		&__label {
            @include typo("h2-20");
                  &:not(:last-child) {
                        @include adaptiveValue("margin-bottom", 20, 10)
                  }
		}

		// .hero__title

		&__title {
                  @include adaptiveValue("font-size", 96, 45);
                  line-height: 0.9;
                  font-weight: 800;
                  line-height: 1.04;
                  small {
                        font-weight: 700;
                        display: block;
                  }
                  &:not(:last-child) {
                        @include adaptiveValue("margin-bottom", 36, 15)
                  }
                  &::after {
                        content: "";
                        width: 40%;
                        background-color: var(--black-1);
                        display: block;
                        height: toRem(1);
                        @include adaptiveValue("margin-top", 16, 8, 1920, 768);
                        @media (width < toEm(768)) {
                              margin: toRem(8) auto 0 auto;
                        }
                  }

            }

		// .hero__text

		&__text {
                  @include typo("");
                  
                  max-width: toRem(400);
                  @media (width > toEm(768)) { 
                        color: var(--black-3);
                  }
		}

		// .hero__picture

		&__picture {
                  position: absolute;
                  width: 100%;
                  height: 100%;
                  top: 0;
                  left: 0;
                  background-color: var(--black-5);

		}

		// .hero__image

		&__image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 15%;
                  @media (width < toEm(768)) { 
                        object-position: 15%;
                        opacity: 0.2;
                        
                  }
		}
}
 



.category-banners {

      &__container {
            display: grid;
            grid-template-columns: 0.243fr 0.513fr  0.243fr ;
            gap: toRem(36);
            @include adaptiveValue("gap", 36, 15);
            @media (width < toEm(768)) {
                  overflow: auto;
                  grid-template-columns: toRem(250);
                  grid-auto-flow: column;
                  grid-auto-columns: toRem(25 0);

            }
      }
      // .category-banners__item

      &__item {
      }
}
.category-banner {
      
     
      &:nth-child(3n + 2) {
            background-color: #f7f7f7;
            // aspect-ratio: 678 / 584;  
            .category-banner__body {
                  align-items: center;
                  text-align: center;
                  > * {
                        max-width: toRem(310);
                  }
            }
            .category-banner__picture {
                  @include adaptiveValue ("padding", 32, 15)
            }   
            
      }
            &:nth-child(3n + 2),
            &:nth-child(3n) {
                  .category-banner__link {
                        flex-direction: column-reverse;
                  }
            }
      background-color: #f7f7f7;

      

      &--top {

      }

      &--nopadding {
            padding: 0;
      }

      &__link {
            min-height: 100%;
            display: flex;            
            justify-content: space-between;
            flex-direction: column;
            
      }

      // .category-banner__picture

      &__picture {
            text-align: center;
            @include adaptiveValue("padding", 32, 15);
      }

      // .category-banner__image

      &__image {
            
      }

      // .category-banner__body

      &__body {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            @include adaptiveValue ("padding", 32, 15);
      }

      // .category-banner__title

      &__title {
            @include typo("h2-20");
            &:not(:last-child) {
                  @include adaptiveValue ("margin-bottom", 24, 15);
            }
      }

      // .category-banner__text

      &__text {
            @include typo("");
            color: var(--black-3);
            &:not(:last-child) {
                  @include adaptiveValue ("margin-bottom", 38, 24);
            }
      }

      // .category-banner__more

      &__more {
      }
}


.clients {

		// .clients__container

		&__container {
		}

		// .clients__title

		&__title {
                  @include adaptiveValue("margin-bottom", 72, 20 )
		}

		// .clients__items

		&__items {
                  row-gap: toRem(20);
                  @include adaptiveValue("column-gap", 74, 20 );
                  display: grid;
                  grid-template-columns: repeat(auto-fill, minmax(toRem(170), 1fr ));

                  @media (width <= toEm(620)) {
                        margin-inline: toRem(-15);
                        padding-inline: toRem(15);
                        overflow: auto;
                        grid-template-columns: toRem(170);
                        grid-auto-flow: column;
                        grid-auto-columns: toRem(170); 
                        

                  }
		}

		// .clients__item

		&__item {
                  aspect-ratio: 1;
		}

		// .clients__image

		&__image {
		}
}



 
.products-featured {

		// .products-featured__container

		&__container {
		}

		// .products-featured__title

		&__title {
                  @include adaptiveValue("margin-bottom", 36, 20);
		}

		// .products-featured__filter

		&__filter {
                  @include adaptiveValue("margin-bottom", 72, 20);
		}

            &__items {
                  display: grid;
                  grid-template-columns: repeat(auto-fill, minmax(min(toRem(380), 100%), 1fr));  
                  @include adaptiveValue("row-gap",  72 , 20); 
                  @include adaptiveValue("column-gap",  36, 20); 

                  // .item {
                  // transition: scale 0.5s; 
                  //       &--hidden {
                  //             scale: 0;
                  //       }
                  // } 
            }
}
.filter-products-featured {
            display: flex;
            justify-content: center ;
            align-items: center;
            flex-wrap: wrap;
            row-gap: toRem(10);
		// .filter-products-featured__item
            @include adaptiveValue("column-gap",  48, 20); 
		&__item {
                 
		}

		// .filter-products-featured__link

		&__link {
                  &--active {
                        span::after {
                              left: 0;
                              width: 100%;
                        }
                  }
		}
}



.why {

		// .why__container

      &__container {
      }

      // .why__title

      &__title {
            @include adaptiveValue ("margin-bottom", 72, 20)
      }

      // .why__items

      &__items {
            @include adaptiveValue("padding-inline", 106, 0);
            display: grid;
            align-items: center;
            grid-template-columns: repeat(auto-fill, minmax(min(toRem(348), 100%), 1fr));
            @include adaptiveValue ("row-gap", 68, 25);
            @include adaptiveValue ("column-gap", 38, 25); 
      }

      // .why__item

      &__item {
      }
}

.item-why {

      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content:  center;
      align-items: center;
      @include adaptiveValue ("gap", 24, 15);
		// .item-why__icon

      &__picture {
            height: toRem(60);
      }
            
      &__icon {
            max-height: toRem(60);
      }

      // .item-why__title

      &__title {
            @include typo("");
            font-weight: 700;
      }

      // .item-why__text

      &__text {
            @include typo("");
            color: var(--black-3);
            p {
                  &:not(:last-child) {
                        margin-bottom: toRem(10)
                  }
            }
      }
}




.reviews {

      &__title {
            &:not(:last-child) {
                  @include adaptiveValue("margin-bottom", 36, 20);
            }
      }

      &__sub-title {
            text-align: center;
            @include typo('');
            font-weight: 700;
            color: var(--black-3);
            &:not(:last-child) {
                  @include adaptiveValue("margin-bottom", 72, 30);
            } 
      }

		// .reviews__swiper

      &__slider {
            overflow: visible;
      }

      .swiper-wrapper {

      }
      
      .swiper-slide {

      }

      .swiper-pagination-horizontal.swiper-pagination {
            @include adaptiveValue("padding-top", 100, 30); 
            position: static;
            display: flex;
            gap: toRem(4);
            justify-content: center;
            .swiper-pagination-bullet {
                  transition: 
                        flex-basis 0.3s, 
                        background-color 0.3s;
                  margin: 0;
                  opacity: 1 ;
                  border-radius: 0;
                  background-color: var(--black-5 );
                  flex-shrink: 0;
                  flex-basis: toRem(20);
                  height: toRem(4);
            }
            .swiper-pagination-bullet-active {
                  background-color: var(--black-1);
                  flex-basis: toRem(44); 
            }
      }

      

      
       
}
 
.item-review {
      max-width: toRem(730);
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;

		// .item-review__avatar

      &__avatar {
            border-radius: 50%;
            aspect-ratio: 1;
            width: toRem(84); 
            outline: toRem(1) solid var(--black-1);
            outline-offset: toRem(6);
            &:not(:last-child) {
                  margin-bottom: toRem(24);
            }
      }

      // .item-review__rating

      &__rating {
            &:not(:last-child) {
                  @include adaptiveValue("margin-bottom", 38, 20);
            }
      }

      // .item-review__text

      &__text {
            @include typo('h2-20');
            text-transform: none;
            font-style: italic; 
            p {
                  &:not(:last-child) {
                  margin-bottom: toRem(10);
            }
            }

            &:not(:last-child) {
                  margin-bottom: toRem(25);
            }
      }

      // .item-review__author

      &__author {
            color: var(--black-3);
            display: flex;
            align-items: center;
            gap: toRem(6);
            &::before {
                  content: '-';
            }

            &::after {
                  content: '-';
            }
      }
}




