@use "_mixins.scss" as *;
@use "_typo.scss" as *;



.hero {

    position: relative;
    aspect-ratio: 1920 / 612;
    padding-block: toEm(40);

		// .hero__container

		&__container {
            min-height: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            // flex-direction: column;
		}

		// .hero__body

		&__body {
                  position: relative;
                  z-index: 2;
                  flex-basis: 50%;
                  @include adaptiveValue("padding-left", 82, 0, 0, 1920, 767);

                  @media (width < toEm(768)) {
                        flex-basis: 100%;
                        display: flex;
                        flex-direction: column;
                        text-align: center;
                        align-items: center;
                  } 
		}

		// .hero__label

		&__label {
            @include typo("h2-20");
                  &:not(:last-child) {
                        @include adaptiveValue("margin-bottom", 20, 10)
                  }
		}

		// .hero__title

		&__title {
                  @include adaptiveValue("font-size", 96, 45);
                  line-height: 0.9;
                  font-weight: 800;
                  line-height: 1.04;
                  small {
                        font-weight: 700;
                        display: block;
                  }
                  &:not(:last-child) {
                        @include adaptiveValue("margin-bottom", 36, 15)
                  }
                  &::after {
                        content: "";
                        width: 40%;
                        background-color: var(--black-1);
                        display: block;
                        height: toRem(1);
                        @include adaptiveValue("margin-top", 16, 8, 1920, 768);
                        @media (width < toEm(768)) {
                              margin: toRem(8) auto 0 auto;
                        }
                  }

            }

		// .hero__text

		&__text {
                  @include typo("");
                  
                  max-width: toRem(400);
                  @media (width > toEm(768)) { 
                        color: var(--black-3);
                  }
		}

		// .hero__picture

		&__picture {
                  position: absolute;
                  width: 100%;
                  height: 100%;
                  top: 0;
                  left: 0;
                  background-color: var(--black-5);

		}

		// .hero__image

		&__image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 15%;
                  @media (width < toEm(768)) { 
                        object-position: 15%;
                        opacity: 0.2;
                        
                  }
		}
}

