:root {
	--black-1: #2f302c;
	--black-2: #6a6a6a;
	--black-3: #7e7f7c;
	--black-4: #aaaaaa;
	--black-5: #d4d4d4;
	--black-6: #e8e8e8;
	--black-7: #f6f6f6;
	--black-8: #ffffff;

	--red: #CE0000;
	--green: #3f625e;
}
