*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

html,
body {
  line-height: 1;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
}

textarea,
input {
  width: 100%;
  font-weight: inherit;
  font-size: inherit;
  background-color: transparent;
  font-family: inherit;
}

label {
  display: inline-block;
}

button {
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
  background-color: transparent;
}

button,
input[type=checkbox],
input[type=radio] {
  cursor: pointer;
}

@font-face {
  font-family: "Lato", sans-serif;
  src: url("../fonts/lato-medium.woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato", sans-serif;
  src: url("../fonts/lato-bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato", sans-serif;
  src: url("../fonts/lato-bold-italic.woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Lato", sans-serif;
  src: url("../fonts/lato-heavy.woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "icons";
  src: url("../fonts/icons.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class*="--icon-"]::before {
  font-family: "icons" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*="--icon-cart"]::before {
  content: "\e900";
}

[class*="--icon-favorite"]::before {
  content: "\e901";
}

[class*="--icon-grid"]::before {
  content: "\e902";
}

[class*="--icon-list"]::before {
  content: "\e903";
}

[class*="--icon-minus"]::before {
  content: "\e904";
}

[class*="--icon-plus"]::before {
  content: "\e905";
}

[class*="--icon-search"]::before {
  content: "\e906";
}

[class*="--icon-select-arrow"]::before {
  content: "\e907";
}

[class*="--icon-facebook"]::before {
  content: "\e908";
}

[class*="--icon-shevron"]::before {
  content: "\e909";
}

[class*="--icon-instagram"]::before {
  content: "\e90a";
}

[class*="--icon-pinterest"]::before {
  content: "\e90b";
}

[class*="--icon-star"]::before {
  content: "\e90c";
}

[class*="--icon-twitter"]::before {
  content: "\e90d";
}

:root {
  --black-1: #2f302c;
  --black-2: #6a6a6a;
  --black-3: #7e7f7c;
  --black-4: #aaaaaa;
  --black-5: #d4d4d4;
  --black-6: #e8e8e8;
  --black-7: #f6f6f6;
  --black-8: #ffffff;
  --red: #CE0000;
  --green: #3f625e;
}

@media (min-width: 88.875em) {
  .title {
    font-size: 32px;
  }
}
@media (min-width: 20em) and (max-width: 88.875em) {
  .title {
    font-size: clamp( 24px , 21.6769509982px  +  0.7259528131vw , 32px );
  }
}
@media (max-width: 20em) {
  .title {
    font-size: 24px;
  }
}
.title {
  line-height: 1.25;
  font-weight: 700;
  text-transform: uppercase;
}
.title--center {
  text-align: center;
}

.items {
  display: grid;
  gap: 2.25rem;
  grid-template-columns: repeat(auto-fill, minmax(min(23.75rem, 100%), 1fr));
}

.item {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.item__link {
  aspect-ratio: 440/574;
  background-color: var(--black-7);
  display: flex;
  align-items: center;
  justify-content: center;
}
.item__link--top {
  align-items: flex-start;
}
.item__link--bottom {
  align-items: flex-end;
}
.item__link--bottom-left {
  align-items: flex-end;
  justify-content: flex-start;
}
.item__link--bottom-right {
  align-items: flex-end;
  justify-content: flex-end;
}
.item__link--top-left {
  align-items: flex-start;
  justify-content: flex-start;
}
.item__link--top-right {
  align-items: flex-start;
  justify-content: flex-end;
}
.item__link--left {
  justify-content: flex-start;
}
.item__link--right {
  justify-content: flex-end;
}
.item__image {
  flex-grow: 0;
}
.item__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
}
.item__title {
  text-transform: uppercase;
}
html:not([data-fls-touch]) .item__link-title:hover {
  text-decoration: underline;
}
@media (min-width: 88.875em) {
  .item__price {
    font-size: 20px;
  }
}
@media (min-width: 20em) and (max-width: 88.875em) {
  .item__price {
    font-size: clamp( 16px , 14.8384754991px  +  0.3629764065vw , 20px );
  }
}
@media (max-width: 20em) {
  .item__price {
    font-size: 16px;
  }
}
.item__price {
  line-height: 1.4;
  font-weight: 700;
  text-transform: uppercase;
}

.rating {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.rating__item {
  font-size: 11px;
}

.link-bold span, .menu__link span, .action-header__link span {
  line-height: 1.25;
  font-weight: 700;
  position: relative;
  text-transform: uppercase;
}
.link-bold span::after, .menu__link span::after, .action-header__link span::after {
  content: "";
  width: 0%;
  transition: width 0.3s, left 0.3s;
  height: 0.125rem;
  background-color: var(--black-1);
  position: absolute;
  top: 100%;
  left: 50%;
}
html:not([data-fls-touch]) .link-bold:hover span::after, html:not([data-fls-touch]) .menu__link:hover span::after, html:not([data-fls-touch]) .action-header__link:hover span::after {
  left: 0;
  width: 100%;
}

.button {
  background-color: var(--black-1);
  transition: background-color 0.3s;
  padding: 0.75rem;
  min-width: 14.0625rem;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.25;
  font-weight: 500;
  color: var(--black-8);
}
html:not([data-fls-touch]) .button:hover {
  background-color: var(--green);
}

.more {
  line-height: 1.25;
  font-weight: 500;
  color: var(--black-3);
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 0.625rem;
  transition: color 0.3s;
}
.more::before {
  translate: 0 0.0625rem;
  font-size: 0.5625rem;
  color: var(--black-1);
}
html:not([data-fls-touch]) .more:hover {
  color: var(--black-1);
}

.social {
  display: flex;
  flex-wrap: wrap;
  gap: 2.125rem;
}
.social__link {
  transition: color 0.3s;
}
html:not([data-flx-touch]) .social:hover {
  color: var(--black-3);
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  background-color: var(--black-8);
  z-index: 50;
}
.header--scroll .header__container {
  transition: min-height 0.5s;
  min-height: 7 0px;
}
.header__container {
  display: flex;
  align-items: center;
  padding-block: 0.625rem;
  transition: min-height 0.3 s;
}
@media (min-width: 87em) {
  .header__container {
    min-height: 164px;
  }
}
@media (min-width: 41.875em) and (max-width: 87em) {
  .header__container {
    min-height: clamp( 70px , -17.2299168975px  +  13.0193905817vw , 164px );
  }
}
@media (max-width: 41.875em) {
  .header__container {
    min-height: 70px;
  }
}
@media (min-width: 87em) {
  .header__container {
    gap: 80px;
  }
}
@media (min-width: 48em) and (max-width: 87em) {
  .header__container {
    gap: clamp( 20px , -53.8461538462px  +  9.6153846154vw , 80px );
  }
}
@media (max-width: 48em) {
  .header__container {
    gap: 20px;
  }
}
.header__logo {
  position: relative;
  z-index: 5;
  flex-shrink: 0;
  flex-basis: 9.5rem;
  overflow: hidden;
}
@media (width < 62em) {
  .header__logo {
    flex-basis: 1.75rem;
  }
}
.header__image-logo {
  max-width: none;
  width: 9.5rem;
}
.header__menu {
  flex-grow: 1;
}
@media (width <= 41.875em) {
  .header__menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 100%;
    transition: left 0.3s;
    background-color: var(--black-4);
    padding: 6.25rem 0.9375rem 1.875rem 0.9375rem;
    overflow: auto;
  }
  .header__menu::before {
    content: "";
    width: 100%;
    height: 4.375rem;
    background-color: var(--black-8);
    position: fixed;
    top: 0;
    left: 100%;
    transition: left 0.3s;
    z-index: 3;
  }
  [data-menu-open] .header__menu {
    left: 0;
  }
  [data-menu-open] .header__menu::before {
    left: 0;
  }
}
.search-header {
  flex-shrink: 0;
  position: relative;
  z-index: 5;
  border-bottom: 0.0625rem solid var(--black-5);
}
@media (width > 41.875em) {
  .search-header {
    flex-basis: max 18.965517%, 11.25rem;
  }
}
@media (width <= 41.875em) {
  .search-header {
    flex-grow: 1;
    flex-basis: 6.25rem;
  }
}
.search-header::before {
  position: absolute;
  left: 0.125rem;
  top: 50%;
  translate: 0 -50%;
}
@media (width <= 23.125em) {
  .search-header::before {
    display: none;
  }
}
@media (width > 23.125em) {
  .search-header__input {
    padding-left: 2rem;
  }
}
.search-header__input {
  height: 2.6875rem;
}
.search-header__input::-moz-placeholder {
  color: var(--black-3);
}
.search-header__input::placeholder {
  color: var(--black-3);
}
.search-header__input:focus::-moz-placeholder {
  opacity: 0;
}
.search-header__input:focus::placeholder {
  opacity: 0;
}
@media (width <= 23.125em) {
  .search-header__input::-webkit-search-decoration, .search-header__input::-webkit-search-cancel-button, .search-header__input::-webkit-search-results-button, .search-header__input::-webkit-search-results-decoration {
    display: none;
  }
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 87em) {
  .menu__list {
    -moz-column-gap: 44px;
         column-gap: 44px;
  }
}
@media (min-width: 48em) and (max-width: 87em) {
  .menu__list {
    -moz-column-gap: clamp( 20px , -9.5384615385px  +  3.8461538462vw , 44px );
         column-gap: clamp( 20px , -9.5384615385px  +  3.8461538462vw , 44px );
  }
}
@media (max-width: 48em) {
  .menu__list {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
.menu__list {
  row-gap: 0.3125rem;
}
@media (width <= 41.875em) {
  .menu__list {
    flex-direction: column;
    row-gap: 1.25rem;
  }
}
.menu__item {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.3125rem;
}
html:not([data-fls-touch]) .menu__item:hover .menu__link span::after {
  left: 0;
  width: 100%;
}
html:not([data-fls-touch]) .menu__item:hover .sub-menu {
  pointer-events: all;
  opacity: 1;
  visibility: visible;
  translate: 0 0;
}
@media (width <= 41.875em) {
  .menu__item {
    flex-direction: row-reverse;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
@media (width <= 41.875em) {
  .menu__link {
    line-height: 1.5;
    font-weight: 700;
    text-transform: uppercase;
  }
}
@media (width <= 41.875em) and (min-width: 88.875em) {
  .menu__link {
    font-size: 24px;
  }
}
@media (width <= 41.875em) and (min-width: 20em) and (max-width: 88.875em) {
  .menu__link {
    font-size: clamp( 18px , 16.2577132486px  +  0.5444646098vw , 24px );
  }
}
@media (width <= 41.875em) and (max-width: 20em) {
  .menu__link {
    font-size: 18px;
  }
}
.menu__sub-link {
  rotate: 90deg;
  transition: rotate 0.3s;
  translate: 0 -0.0625rem;
}
@media (width > 41.875em) {
  .menu__sub-link {
    font-size: 0.625rem;
  }
}
html:not([data-fls-touch]) .menu__sub-link {
  cursor: default;
}
[data-sub-menu-open] .menu__sub-link {
  rotate: -90deg;
}

@media (width > 41.875em) {
  .icon-menu {
    display: none;
  }
}
@media (width <= 41.875em) {
  .icon-menu {
    flex-basis: 1.875rem;
    height: 1.125rem;
    flex-shrink: 0;
    position: relative;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    position: absolute;
    height: 0.125rem;
    right: 0;
    width: 100%;
    transition: all 0.3s;
    background-color: var(--black-1);
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: 50%;
    translate: 0 -50%;
  }
  [data-menu-open] .icon-menu span {
    width: 0;
  }
  [data-menu-open] .icon-menu::before {
    rotate: -45deg;
    top: 50%;
    translate: 0 -50%;
  }
  [data-menu-open] .icon-menu::after {
    rotate: 45deg;
    bottom: 50%;
    translate: 0 50%;
  }
}

@media (width > 41.875em) {
  .sub-menu {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 100%;
    width: 12.5rem;
    padding-top: 0.625rem;
    translate: 0 0.625rem;
    transition: all 0.3s;
    pointer-events: none;
  }
  [data-sub-menu-open] .sub-menu {
    pointer-events: all;
    opacity: 1;
    visibility: visible;
    translate: 0 0;
  }
}
@media (width <= 41.875em) {
  .sub-menu {
    flex-grow: 1;
    flex-basis: 100%;
    overflow: hidden;
    transition: all 0.3s;
  }
}
.sub-menu__list {
  display: flex;
  flex-direction: column;
  padding: 0.9375rem;
  border-radius: 0.3125rem;
  background-color: var(--black-8);
  box-shadow: 0 0 0.25rem var(--black-1);
  row-gap: 0.3125rem;
}
@media (width <= 41.875em) {
  .sub-menu__list {
    row-gap: 0.9375rem;
  }
}
.sub-menu__link {
  line-height: 1.25;
  font-weight: 500;
}
@media (width <= 41.875em) {
  .sub-menu__link {
    line-height: 1.4;
    font-weight: 700;
    text-transform: uppercase;
  }
}
@media (width <= 41.875em) and (min-width: 88.875em) {
  .sub-menu__link {
    font-size: 20px;
  }
}
@media (width <= 41.875em) and (min-width: 20em) and (max-width: 88.875em) {
  .sub-menu__link {
    font-size: clamp( 16px , 14.8384754991px  +  0.3629764065vw , 20px );
  }
}
@media (width <= 41.875em) and (max-width: 20em) {
  .sub-menu__link {
    font-size: 16px;
  }
}
html:not([data-fls-touch]) .sub-menu__link:hover {
  text-decoration: underline;
}

.action-header {
  position: relative;
  z-index: 5;
  display: flex;
  align-items: center;
}
@media (min-width: 87em) {
  .action-header {
    gap: 46px;
  }
}
@media (min-width: 48em) and (max-width: 87em) {
  .action-header {
    gap: clamp( 10px , -34.3076923077px  +  5.7692307692vw , 46px );
  }
}
@media (max-width: 48em) {
  .action-header {
    gap: 10px;
  }
}
@media (min-width: 48em) {
  .action-header {
    gap: 20px;
  }
}
@media (min-width: 20em) and (max-width: 48em) {
  .action-header {
    gap: clamp( 10px , 2.8571428571px  +  2.2321428571vw , 20px );
  }
}
.action-header__link {
  display: flex;
  align-items: center;
  gap: 0.4375rem;
}
html:not([data-fls-touch]) .action-header__link:hover span::after {
  left: 0;
  width: 100%;
}
@media (width < 48em) {
  .action-header__link::before {
    line-height: 1.4;
    font-weight: 700;
    text-transform: uppercase;
  }
}
@media (width < 48em) and (min-width: 88.875em) {
  .action-header__link::before {
    font-size: 20px;
  }
}
@media (width < 48em) and (min-width: 20em) and (max-width: 88.875em) {
  .action-header__link::before {
    font-size: clamp( 16px , 14.8384754991px  +  0.3629764065vw , 20px );
  }
}
@media (width < 48em) and (max-width: 20em) {
  .action-header__link::before {
    font-size: 16px;
  }
}
@media (width < 48em) {
  .action-header__link span {
    display: none;
  }
}
.footer {
  line-height: 1.25;
  font-weight: 500;
}
.footer__body {
  border-top: 0.0625rem solid var(--black-5);
  border-bottom: 0.0625rem solid var(--black-5);
}
.body-footer {
  border-top: 0.0625rem solid var(--black-5);
  border-bottom: 0.0625rem solid var(--black-5);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(15.625rem, 100%), 1fr));
  justify-content: space-between;
}
@media (min-width: 88.875em) {
  .body-footer {
    gap: 100px;
  }
}
@media (min-width: 20em) and (max-width: 88.875em) {
  .body-footer {
    gap: clamp( 30px , 9.6733212341px  +  6.3520871143vw , 100px );
  }
}
@media (max-width: 20em) {
  .body-footer {
    gap: 30px;
  }
}
@media (min-width: 88.875em) {
  .body-footer {
    padding-top: 112px;
  }
}
@media (min-width: 20em) and (max-width: 88.875em) {
  .body-footer {
    padding-top: clamp( 35px , 12.6406533575px  +  6.9872958258vw , 112px );
  }
}
@media (max-width: 20em) {
  .body-footer {
    padding-top: 35px;
  }
}
@media (min-width: 88.875em) {
  .body-footer {
    padding-top: 72px;
  }
}
@media (min-width: 20em) and (max-width: 88.875em) {
  .body-footer {
    padding-top: clamp( 35px , 24.2558983666px  +  3.3575317604vw , 72px );
  }
}
@media (max-width: 20em) {
  .body-footer {
    padding-top: 35px;
  }
}
@media (width <= 620) {
  .body-footer {
    flex-direction: column;
  }
}
@media (width <= 620) {
  .body-footer {
    flex-direction: column;
  }
}
@media (min-width: 88.875em) {
  .body-footer__title {
    font-size: 20px;
  }
}
@media (min-width: 20em) and (max-width: 88.875em) {
  .body-footer__title {
    font-size: clamp( 16px , 14.8384754991px  +  0.3629764065vw , 20px );
  }
}
@media (max-width: 20em) {
  .body-footer__title {
    font-size: 16px;
  }
}
.body-footer__title {
  line-height: 1.4;
  font-weight: 700;
  text-transform: uppercase;
  text-transform: uppercase;
}
@media (min-width: 88.875em) {
  .body-footer__title[data-footer-menu-open] + .body-footer__list {
    margin-top: 28px;
  }
}
@media (min-width: 20em) and (max-width: 88.875em) {
  .body-footer__title[data-footer-menu-open] + .body-footer__list {
    margin-top: clamp( 15px , 11.2250453721px  +  1.1796733212vw , 28px );
  }
}
@media (max-width: 20em) {
  .body-footer__title[data-footer-menu-open] + .body-footer__list {
    margin-top: 15px;
  }
}
@media (width > 36.0625em) {
  .body-footer__button {
    cursor: default;
  }
  .body-footer__button::before {
    display: none;
  }
}
@media (width <= 36.0625em) {
  .body-footer__button {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: space-between;
  }
  .body-footer__button::before {
    transition: rotate 0.3s;
    rotate: 90deg;
  }
  [data-footer-menu-open] .body-footer__button::before {
    rotate: -90deg;
  }
}
.body-footer__list {
  overflow: hidden;
  transition: all 0.5s;
}
@media (width > 36.0625em) and (min-width: 88.875em) {
  .body-footer__list {
    margin-top: 28px;
  }
}
@media (width > 36.0625em) and (min-width: 20em) and (max-width: 88.875em) {
  .body-footer__list {
    margin-top: clamp( 15px , 11.2250453721px  +  1.1796733212vw , 28px );
  }
}
@media (width > 36.0625em) and (max-width: 20em) {
  .body-footer__list {
    margin-top: 15px;
  }
}
@media (min-width: 88.875em) {
  .body-footer__item:not(:last-child) {
    margin-bottom: 28px;
  }
}
@media (min-width: 20em) and (max-width: 88.875em) {
  .body-footer__item:not(:last-child) {
    margin-bottom: clamp( 15px , 11.2250453721px  +  1.1796733212vw , 28px );
  }
}
@media (max-width: 20em) {
  .body-footer__item:not(:last-child) {
    margin-bottom: 15px;
  }
}
.body-footer__link {
  color: var(--black-3);
}
html:not([data-fls-touch]) .body-footer__link:hover {
  text-decoration: underline;
}

.bottom-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 1.25rem;
}
@media (min-width: 88.875em) {
  .bottom-footer {
    padding-block: 72px;
  }
}
@media (min-width: 20em) and (max-width: 88.875em) {
  .bottom-footer {
    padding-block: clamp( 35px , 24.2558983666px  +  3.3575317604vw , 72px );
  }
}
@media (max-width: 20em) {
  .bottom-footer {
    padding-block: 35px;
  }
}
@media (width <= 38.75em) {
  .bottom-footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
.bottom-footer__text {
  color: var(--black-3);
  text-wrap: balance;
}

.hero {
  position: relative;
  aspect-ratio: 1920/612;
  padding-block: 2.5em;
}
.hero__container {
  min-height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.hero__body {
  position: relative;
  z-index: 2;
  flex-basis: 50%;
}
@media (min-width: 120em) {
  .hero__body {
    padding-left: 82px;
  }
}
@media (min-width: 47.9375em) and (max-width: 120em) {
  .hero__body {
    padding-left: clamp( 0.000001px , -54.548133634px  +  7.1118819601vw , 82px );
  }
}
@media (max-width: 47.9375em) {
  .hero__body {
    padding-left: 0.000001px;
  }
}
@media (width < 48em) {
  .hero__body {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}
@media (min-width: 88.875em) {
  .hero__label {
    font-size: 20px;
  }
}
@media (min-width: 20em) and (max-width: 88.875em) {
  .hero__label {
    font-size: clamp( 16px , 14.8384754991px  +  0.3629764065vw , 20px );
  }
}
@media (max-width: 20em) {
  .hero__label {
    font-size: 16px;
  }
}
.hero__label {
  line-height: 1.4;
  font-weight: 700;
  text-transform: uppercase;
}
@media (min-width: 88.875em) {
  .hero__label:not(:last-child) {
    margin-bottom: 20px;
  }
}
@media (min-width: 20em) and (max-width: 88.875em) {
  .hero__label:not(:last-child) {
    margin-bottom: clamp( 10px , 7.0961887477px  +  0.9074410163vw , 20px );
  }
}
@media (max-width: 20em) {
  .hero__label:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media (min-width: 88.875em) {
  .hero__title {
    font-size: 96px;
  }
}
@media (min-width: 20em) and (max-width: 88.875em) {
  .hero__title {
    font-size: clamp( 45px , 30.1905626134px  +  4.6279491833vw , 96px );
  }
}
@media (max-width: 20em) {
  .hero__title {
    font-size: 45px;
  }
}
.hero__title {
  line-height: 0.9;
  font-weight: 800;
  line-height: 1.04;
}
.hero__title small {
  font-weight: 700;
  display: block;
}
@media (min-width: 88.875em) {
  .hero__title:not(:last-child) {
    margin-bottom: 36px;
  }
}
@media (min-width: 20em) and (max-width: 88.875em) {
  .hero__title:not(:last-child) {
    margin-bottom: clamp( 15px , 8.9019963702px  +  1.9056261343vw , 36px );
  }
}
@media (max-width: 20em) {
  .hero__title:not(:last-child) {
    margin-bottom: 15px;
  }
}
.hero__title::after {
  content: "";
  width: 40%;
  background-color: var(--black-1);
  display: block;
  height: 0.0625rem;
}
@media (min-width: 48em) {
  .hero__title::after {
    margin-top: 16px;
  }
}
@media (min-width: 20em) and (max-width: 48em) {
  .hero__title::after {
    margin-top: clamp( 8px , 2.2857142857px  +  1.7857142857vw , 16px );
  }
}
@media (max-width: 20em) {
  .hero__title::after {
    margin-top: 8px;
  }
}
@media (width < 48em) {
  .hero__title::after {
    margin: 0.5rem auto 0 auto;
  }
}
.hero__text {
  line-height: 1.25;
  font-weight: 500;
  max-width: 25rem;
}
@media (width > 48em) {
  .hero__text {
    color: var(--black-3);
  }
}
.hero__picture {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--black-5);
}
.hero__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 15%;
     object-position: 15%;
}
@media (width < 48em) {
  .hero__image {
    -o-object-position: 15%;
       object-position: 15%;
    opacity: 0.2;
  }
}

.category-banners__container {
  display: grid;
  grid-template-columns: 0.243fr 0.513fr 0.243fr;
  gap: 2.25rem;
}
@media (min-width: 88.875em) {
  .category-banners__container {
    gap: 36px;
  }
}
@media (min-width: 20em) and (max-width: 88.875em) {
  .category-banners__container {
    gap: clamp( 15px , 8.9019963702px  +  1.9056261343vw , 36px );
  }
}
@media (max-width: 20em) {
  .category-banners__container {
    gap: 15px;
  }
}
@media (width < 48em) {
  .category-banners__container {
    overflow: auto;
    grid-template-columns: 15.625rem;
    grid-auto-flow: column;
    grid-auto-columns: 25 0/16rem;
  }
}
.category-banner:nth-child(3n+2) {
  background-color: #f7f7f7;
}
.category-banner:nth-child(3n+2) .category-banner__body {
  align-items: center;
  text-align: center;
}
.category-banner:nth-child(3n+2) .category-banner__body > * {
  max-width: 19.375rem;
}
@media (min-width: 88.875em) {
  .category-banner:nth-child(3n+2) .category-banner__picture {
    padding: 32px;
  }
}
@media (min-width: 20em) and (max-width: 88.875em) {
  .category-banner:nth-child(3n+2) .category-banner__picture {
    padding: clamp( 15px , 10.0635208711px  +  1.5426497278vw , 32px );
  }
}
@media (max-width: 20em) {
  .category-banner:nth-child(3n+2) .category-banner__picture {
    padding: 15px;
  }
}
.category-banner:nth-child(3n+2) .category-banner__link, .category-banner:nth-child(3n) .category-banner__link {
  flex-direction: column-reverse;
}
.category-banner {
  background-color: #f7f7f7;
}
.category-banner--nopadding {
  padding: 0;
}
.category-banner__link {
  min-height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.category-banner__picture {
  text-align: center;
}
@media (min-width: 88.875em) {
  .category-banner__picture {
    padding: 32px;
  }
}
@media (min-width: 20em) and (max-width: 88.875em) {
  .category-banner__picture {
    padding: clamp( 15px , 10.0635208711px  +  1.5426497278vw , 32px );
  }
}
@media (max-width: 20em) {
  .category-banner__picture {
    padding: 15px;
  }
}
.category-banner__body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media (min-width: 88.875em) {
  .category-banner__body {
    padding: 32px;
  }
}
@media (min-width: 20em) and (max-width: 88.875em) {
  .category-banner__body {
    padding: clamp( 15px , 10.0635208711px  +  1.5426497278vw , 32px );
  }
}
@media (max-width: 20em) {
  .category-banner__body {
    padding: 15px;
  }
}
@media (min-width: 88.875em) {
  .category-banner__title {
    font-size: 20px;
  }
}
@media (min-width: 20em) and (max-width: 88.875em) {
  .category-banner__title {
    font-size: clamp( 16px , 14.8384754991px  +  0.3629764065vw , 20px );
  }
}
@media (max-width: 20em) {
  .category-banner__title {
    font-size: 16px;
  }
}
.category-banner__title {
  line-height: 1.4;
  font-weight: 700;
  text-transform: uppercase;
}
@media (min-width: 88.875em) {
  .category-banner__title:not(:last-child) {
    margin-bottom: 24px;
  }
}
@media (min-width: 20em) and (max-width: 88.875em) {
  .category-banner__title:not(:last-child) {
    margin-bottom: clamp( 15px , 12.386569873px  +  0.8166969147vw , 24px );
  }
}
@media (max-width: 20em) {
  .category-banner__title:not(:last-child) {
    margin-bottom: 15px;
  }
}
.category-banner__text {
  line-height: 1.25;
  font-weight: 500;
  color: var(--black-3);
}
@media (min-width: 88.875em) {
  .category-banner__text:not(:last-child) {
    margin-bottom: 38px;
  }
}
@media (min-width: 20em) and (max-width: 88.875em) {
  .category-banner__text:not(:last-child) {
    margin-bottom: clamp( 24px , 19.9346642468px  +  1.2704174229vw , 38px );
  }
}
@media (max-width: 20em) {
  .category-banner__text:not(:last-child) {
    margin-bottom: 24px;
  }
}
@media (min-width: 88.875em) {
  .clients__title {
    margin-bottom: 72px;
  }
}
@media (min-width: 20em) and (max-width: 88.875em) {
  .clients__title {
    margin-bottom: clamp( 20px , 4.9001814882px  +  4.7186932849vw , 72px );
  }
}
@media (max-width: 20em) {
  .clients__title {
    margin-bottom: 20px;
  }
}
.clients__items {
  row-gap: 1.25rem;
}
@media (min-width: 88.875em) {
  .clients__items {
    -moz-column-gap: 74px;
         column-gap: 74px;
  }
}
@media (min-width: 20em) and (max-width: 88.875em) {
  .clients__items {
    -moz-column-gap: clamp( 20px , 4.3194192377px  +  4.9001814882vw , 74px );
         column-gap: clamp( 20px , 4.3194192377px  +  4.9001814882vw , 74px );
  }
}
@media (max-width: 20em) {
  .clients__items {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
.clients__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10.625rem, 1fr));
}
@media (width <= 38.75em) {
  .clients__items {
    margin-inline: -0.9375rem;
    padding-inline: 0.9375rem;
    overflow: auto;
    grid-template-columns: 10.625rem;
    grid-auto-flow: column;
    grid-auto-columns: 10.625rem;
  }
}
.clients__item {
  aspect-ratio: 1;
}
@media (min-width: 88.875em) {
  .products-featured__title {
    margin-bottom: 36px;
  }
}
@media (min-width: 20em) and (max-width: 88.875em) {
  .products-featured__title {
    margin-bottom: clamp( 20px , 15.3539019964px  +  1.4519056261vw , 36px );
  }
}
@media (max-width: 20em) {
  .products-featured__title {
    margin-bottom: 20px;
  }
}
@media (min-width: 88.875em) {
  .products-featured__filter {
    margin-bottom: 72px;
  }
}
@media (min-width: 20em) and (max-width: 88.875em) {
  .products-featured__filter {
    margin-bottom: clamp( 20px , 4.9001814882px  +  4.7186932849vw , 72px );
  }
}
@media (max-width: 20em) {
  .products-featured__filter {
    margin-bottom: 20px;
  }
}
.products-featured__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(23.75rem, 100%), 1fr));
}
@media (min-width: 88.875em) {
  .products-featured__items {
    row-gap: 72px;
  }
}
@media (min-width: 20em) and (max-width: 88.875em) {
  .products-featured__items {
    row-gap: clamp( 20px , 4.9001814882px  +  4.7186932849vw , 72px );
  }
}
@media (max-width: 20em) {
  .products-featured__items {
    row-gap: 20px;
  }
}
@media (min-width: 88.875em) {
  .products-featured__items {
    -moz-column-gap: 36px;
         column-gap: 36px;
  }
}
@media (min-width: 20em) and (max-width: 88.875em) {
  .products-featured__items {
    -moz-column-gap: clamp( 20px , 15.3539019964px  +  1.4519056261vw , 36px );
         column-gap: clamp( 20px , 15.3539019964px  +  1.4519056261vw , 36px );
  }
}
@media (max-width: 20em) {
  .products-featured__items {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}

.filter-products-featured {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 0.625rem;
}
@media (min-width: 88.875em) {
  .filter-products-featured {
    -moz-column-gap: 48px;
         column-gap: 48px;
  }
}
@media (min-width: 20em) and (max-width: 88.875em) {
  .filter-products-featured {
    -moz-column-gap: clamp( 20px , 11.8693284936px  +  2.5408348457vw , 48px );
         column-gap: clamp( 20px , 11.8693284936px  +  2.5408348457vw , 48px );
  }
}
@media (max-width: 20em) {
  .filter-products-featured {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
.filter-products-featured__link--active span::after {
  left: 0;
  width: 100%;
}

@media (min-width: 88.875em) {
  .why__title {
    margin-bottom: 72px;
  }
}
@media (min-width: 20em) and (max-width: 88.875em) {
  .why__title {
    margin-bottom: clamp( 20px , 4.9001814882px  +  4.7186932849vw , 72px );
  }
}
@media (max-width: 20em) {
  .why__title {
    margin-bottom: 20px;
  }
}
@media (min-width: 88.875em) {
  .why__items {
    padding-inline: 106px;
  }
}
@media (min-width: 20em) and (max-width: 88.875em) {
  .why__items {
    padding-inline: clamp( 0.000001px , -30.7803979837px  +  9.6188746824vw , 106px );
  }
}
@media (max-width: 20em) {
  .why__items {
    padding-inline: 0.000001px;
  }
}
.why__items {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(min(21.75rem, 100%), 1fr));
}
@media (min-width: 88.875em) {
  .why__items {
    row-gap: 68px;
  }
}
@media (min-width: 20em) and (max-width: 88.875em) {
  .why__items {
    row-gap: clamp( 25px , 12.5136116152px  +  3.9019963702vw , 68px );
  }
}
@media (max-width: 20em) {
  .why__items {
    row-gap: 25px;
  }
}
@media (min-width: 88.875em) {
  .why__items {
    -moz-column-gap: 38px;
         column-gap: 38px;
  }
}
@media (min-width: 20em) and (max-width: 88.875em) {
  .why__items {
    -moz-column-gap: clamp( 25px , 21.2250453721px  +  1.1796733212vw , 38px );
         column-gap: clamp( 25px , 21.2250453721px  +  1.1796733212vw , 38px );
  }
}
@media (max-width: 20em) {
  .why__items {
    -moz-column-gap: 25px;
         column-gap: 25px;
  }
}
.item-why {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 88.875em) {
  .item-why {
    gap: 24px;
  }
}
@media (min-width: 20em) and (max-width: 88.875em) {
  .item-why {
    gap: clamp( 15px , 12.386569873px  +  0.8166969147vw , 24px );
  }
}
@media (max-width: 20em) {
  .item-why {
    gap: 15px;
  }
}
.item-why__picture {
  height: 3.75rem;
}
.item-why__icon {
  max-height: 3.75rem;
}
.item-why__title {
  line-height: 1.25;
  font-weight: 500;
  font-weight: 700;
}
.item-why__text {
  line-height: 1.25;
  font-weight: 500;
  color: var(--black-3);
}
.item-why__text p:not(:last-child) {
  margin-bottom: 0.625rem;
}

.sale__container {
  background-color: #fff;
}
.sale__wrapper {
  background-color: var(--black-7);
}
@media (min-width: 88.875em) {
  .sale__wrapper {
    padding-inline: 80px;
  }
}
@media (min-width: 48em) and (max-width: 88.875em) {
  .sale__wrapper {
    padding-inline: clamp( 30px , -28.7155963303px  +  7.6452599388vw , 80px );
  }
}
@media (max-width: 48em) {
  .sale__wrapper {
    padding-inline: 30px;
  }
}
@media (width < 30em) {
  .sale__wrapper {
    padding-inline: 0.9375rem;
  }
}
.sale__wrapper {
  display: flex;
  gap: 1.25rem;
}
@media (width < 48em) {
  .sale__wrapper {
    flex-direction: column;
  }
}
@media (width < 30em) {
  .sale__wrapper {
    margin-inline: -0.9375rem;
  }
}
@media (width > 48em) {
  .sale__body {
    flex-basis: 21.875rem;
  }
}
.sale__body {
  display: flex;
  flex-direction: column;
}
@media (min-width: 88.875em) {
  .sale__body {
    padding-top: 68px;
  }
}
@media (min-width: 48em) and (max-width: 88.875em) {
  .sale__body {
    padding-top: clamp( 20px , -36.3669724771px  +  7.3394495413vw , 68px );
  }
}
@media (min-width: 88.875em) {
  .sale__body {
    padding-bottom: 78px;
  }
}
@media (min-width: 48em) and (max-width: 88.875em) {
  .sale__body {
    padding-bottom: clamp( 20px , -48.1100917431px  +  8.8685015291vw , 78px );
  }
}
@media (width < 48em) {
  .sale__body {
    order: 2;
  }
}
.sale__main {
  flex-grow: 1;
}
@media (min-width: 88.875em) {
  .sale__main:not(:last-child) {
    margin-bottom : 36px;
  }
}
@media (min-width: 20em) and (max-width: 88.875em) {
  .sale__main:not(:last-child) {
    margin-bottom : clamp( 20px , 15.3539019964px  +  1.4519056261vw , 36px );
  }
}
@media (max-width: 20em) {
  .sale__main:not(:last-child) {
    margin-bottom : 20px;
  }
}
@media (min-width: 88.875em) {
  .sale__title {
    font-size: 32px;
  }
}
@media (min-width: 20em) and (max-width: 88.875em) {
  .sale__title {
    font-size: clamp( 24px , 21.6769509982px  +  0.7259528131vw , 32px );
  }
}
@media (max-width: 20em) {
  .sale__title {
    font-size: 24px;
  }
}
.sale__title {
  line-height: 1.25;
  font-weight: 700;
  text-transform: uppercase;
}
.sale__title:not(:last-child) {
  margin-bottom: 1rem;
}
.sale__link-title {
  transition: color 0.3s;
}
html:not([data-fls-touch]) .sale__link-title:hover {
  color: var(--green);
}
.sale__rating {
  justify-content: flex-start;
}
.sale__link-image {
  flex-grow: 1;
  text-align: center;
  display: flex;
  justify-content: center;
}
@media (width < 48em) {
  .sale__link-image {
    order: 1;
  }
}
@media (width > 48em) {
  .sale__picture {
    margin-bottom: -5.9375rem;
  }
}
.sale__picture:has(.sale__image--center) {
  margin-bottom: 0;
}
@media (min-width: 88.875em) {
  .sale__picture:has(.sale__image--center) {
    padding-top: 68px;
  }
}
@media (min-width: 48em) and (max-width: 88.875em) {
  .sale__picture:has(.sale__image--center) {
    padding-top: clamp( 20px , -36.3669724771px  +  7.3394495413vw , 68px );
  }
}
@media (max-width: 48em) {
  .sale__picture:has(.sale__image--center) {
    padding-top: 20px;
  }
}
@media (min-width: 88.875em) {
  .sale__picture:has(.sale__image--center) {
    padding-bottom: 78px;
  }
}
@media (min-width: 48em) and (max-width: 88.875em) {
  .sale__picture:has(.sale__image--center) {
    padding-bottom: clamp( 20px , -48.1100917431px  +  8.8685015291vw , 78px );
  }
}
.sale__image {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.sale__image--center {
  -o-object-position: center;
     object-position: center;
}
@media (min-width: 88.875em) {
  .sale__content {
    padding-top: 68px;
  }
}
@media (min-width: 48em) and (max-width: 88.875em) {
  .sale__content {
    padding-top: clamp( 20px , -36.3669724771px  +  7.3394495413vw , 68px );
  }
}
@media (min-width: 88.875em) {
  .sale__content {
    padding-bottom: 78px;
  }
}
@media (min-width: 48em) and (max-width: 88.875em) {
  .sale__content {
    padding-bottom: clamp( 20px , -48.1100917431px  +  8.8685015291vw , 78px );
  }
}
@media (max-width: 48em) {
  .sale__content {
    padding-bottom: 20px;
  }
}
@media (width < 48em) {
  .sale__content {
    order: 3;
  }
}
@media (width > 48em) {
  .sale__content {
    flex-basis: 21.875rem;
    text-align: right;
    align-items: flex-end;
  }
}
.sale__content {
  display: flex;
  flex-direction: column;
  gap: 1.5625rem;
}
.sale__text {
  flex-grow: 1;
  line-height: 1.25;
  font-weight: 500;
  color: var(--black-3);
}
.sale__text p:not(:last-child) {
  margin-bottom: 0.625rem;
}
.price-sale__old {
  color: var(--black-3);
  font-weight: 700;
  text-decoration: line-through;
}
.price-sale__old:not(:last-child) {
  margin-bottom: 0.5625rem;
}
.price-sale__price {
  display: flex;
  align-items: center;
  gap: 1rem;
}
@media (min-width: 88.875em) {
  .price-sale__value {
    font-size: 32px;
  }
}
@media (min-width: 20em) and (max-width: 88.875em) {
  .price-sale__value {
    font-size: clamp( 24px , 21.6769509982px  +  0.7259528131vw , 32px );
  }
}
@media (max-width: 20em) {
  .price-sale__value {
    font-size: 24px;
  }
}
.price-sale__value {
  line-height: 1.25;
  font-weight: 700;
  text-transform: uppercase;
}
.price-sale__sale {
  line-height: 1.25;
  font-weight: 500;
  background-color: var(--red);
  padding: 0.25rem 0.5rem;
  font-weight: 700;
  color: var(--black-8);
  border-radius: 0.25rem;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  color: var(--black-1);
}

.wrapper {
  position: relative;
  min-height: 100%;
  overflow: clip;
  display: flex;
  flex-direction: column;
}

.wrapper > main {
  flex-grow: 1;
}

[class*=__container] {
  padding-inline: 0.9375rem;
  max-width: 1422px;
  margin: 0 auto;
}

@media (min-width: 87em) {
  .page--home {
    padding-top: 164px;
  }
}
@media (min-width: 41.875em) and (max-width: 87em) {
  .page--home {
    padding-top: clamp( 70px , -17.2299168975px  +  13.0193905817vw , 164px );
  }
}
@media (max-width: 41.875em) {
  .page--home {
    padding-top: 70px;
  }
}
@media (min-width: 88.875em) {
  .page > *:not([class*="--nomargin"]) {
    margin-bottom: 82px;
  }
}
@media (min-width: 20em) and (max-width: 88.875em) {
  .page > *:not([class*="--nomargin"]) {
    margin-bottom: clamp( 20px , 1.9963702359px  +  5.6261343013vw , 82px );
  }
}
@media (max-width: 20em) {
  .page > *:not([class*="--nomargin"]) {
    margin-bottom: 20px;
  }
}
@media (min-width: 88.875em) {
  .page > *:not([class*="--nopadding"]) {
    padding-top: 82px;
  }
}
@media (min-width: 20em) and (max-width: 88.875em) {
  .page > *:not([class*="--nopadding"]) {
    padding-top: clamp( 20px , 1.9963702359px  +  5.6261343013vw , 82px );
  }
}
@media (max-width: 20em) {
  .page > *:not([class*="--nopadding"]) {
    padding-top: 20px;
  }
}/*# sourceMappingURL=style.css.map */